.todolist{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
  background-color: rgb(241, 236, 102);
  border-radius: 20px;
  padding: 50px;
}
h1{
  font-size: 50px;
}
.input{
  height: 25px;
  width: 220px;
  margin-top: 30px;
  padding-left: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 2px solid black;
  font-size: 15px;
}
.add-button{
  width: 70px;

  height: 30px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(7, 255, 44);
  border-top-right-radius: 5px;
  border: 2px solid black;
  border-left: none;
  border-bottom-right-radius: 5px;
}
.delete-button,.up-button,.down-button{
  
  margin: 5px;
  height: 30px;
}
.text{
  font-size: 20px;
  flex: 1;
}
li{
  background-color: rgb(255, 252, 223);
  margin: 5px;
  width: 320px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;                    /* make li a flex container */
  justify-content: space-between;   /* space between text and buttons */
  align-items: center;              /* vertical center */
  padding: 5px 10px;
}
.delete-button{
  background-color: rgba(243, 29, 29, 0.834);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 7px;
}
.up-button{

  background-color: rgba(29, 161, 243, 0.834);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 7px;
}
.down-button{
  background-color: rgba(234, 142, 224, 0.834);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 7px;
}


ol {
  padding: 0;
  margin-top: 50px;
  list-style-type: none;   /* removes 1, 2, 3 numbers */
  display: flex;
  flex-direction: column;
  align-items: center;     /* center the li elements horizontally */
}


